{{- define "main" -}}
<style>
  header .nav-logo, header .logo {
    display: none !important;
  }
</style>

<article>
  <header style="margin-bottom: 3rem;">
    <h1 class="my-0! font-bold text-3xl" style="line-height: 1.2; margin-bottom: 8px;">
      {{- .Title -}}
    </h1>
    
    <div class="opacity-40 text-sm" style="letter-spacing: 1px;">
      <time>{{- .Date.Format "2006-01-02" -}}</time>
      {{- $single_author := or .Params.Author site.Author.name -}}
      {{- if $single_author -}}
      <span class="mx-3">&middot;</span>
      <span>{{- $single_author -}}</span>
      {{- end -}}
    </div>
  </header>

  <section class="prose prose-neutral dark:prose-invert max-w-none">
    {{- .Content -}}
  </section>

  {{- if not (eq .Params.comments false) -}}
  <div class="mt-24!">
    {{- template "_internal/disqus.html" . -}}
  </div>
  {{- end -}}
</article>
{{- end -}}
